<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>Lean Mail</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/static/screen.css" media="screen" />
</head>
<body>

<div id="header">
  {% block header %}{% end %}
</div>

<div class="colmask threecol">
	<div class="colmid">
		<div class="colleft">
			<div class="col1">
				<!-- Column 1 start -->
				{% block action %}{% end %}
				<hr>
				{% block hold %}{% end %}
        
				<!-- Column 1 end -->
			</div>
			<div class="col2">
				<!-- Column 2 start -->
        {% block inbox %}{% end %}
				<!-- Column 2 end -->
			</div>
			<div class="col3">
				<!-- Column 3 start -->
				{% block done %}{% end %}
				<!-- Column 3 end -->
			</div>
		</div>
	</div>
</div>

<div id="footer">
{% block footer %}{% end %}
</div>

</body>
</html>
