{% extends "base.html" %}

{% block header %}
  <h1>Kanban Mail</h1>
	<ul>
		<li><a href="/action" class="active"><span>Action</span></a></li>
		<li><a href="/hold"><span>Hold</span></a></li>
		<li><a href="/done"><span>Done</span></a></li>
	</ul>
{% end %}


{% block inbox %}
  <h3>Inbox ({{ len(inbox_items) }})</h3>
  {% for item in inbox_items %}
    {{ modules.Item(item) }}
  {% end %}
{% end %}

{% block action %}
  <h3>Action ({{ len(action_items) }})</h3>
  {% for item in action_items %}
    {{ modules.Item(item) }}
  {% end %}
{% end %}


{% block hold %}
  <h3>Hold ({{ len(hold_items) }})</h3>
  {% for item in hold_items %}
    {{ modules.Item(item) }}
  {% end %}
{% end %}

{% block done %}
  <h3>Done ({{ len(completed_items) }})</h3>
  {% for item in completed_items %}
    {{ modules.Item(item) }}
  {% end %}
{% end %}


{% block footer %}
  <p>2012 Carlos Gabaldon
  <ul>
    <li><a href="http://carlosgabaldon.com">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="terms.html">Terms of Service</a></li>
    <li><a href="privacy.html">Privacy</a></li>
  </ul>
  </p>
{% end %}

