{% extends "base.html" %}

{% block header %}
  <h1>Kanban Mail</h1>
  <!--
	<ul>
		<li><a href="/action" class="active"><span>Action</span></a></li>
		<li><a href="/hold"><span>Hold</span></a></li>
		<li><a href="/done"><span>Done</span></a></li>
	</ul>
	-->
{% end %}


{% block content %}

{{ modules.Item(item, True, item_states) }}

<a href='/'><< back</a>

{% end %}


{% block footer %}
  <p>2012 Carlos Gabaldon
  <ul>
    <li><a href="http://carlosgabaldon.com">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="terms.html">Terms of Service</a></li>
    <li><a href="privacy.html">Privacy</a></li>
  </ul>
  </p>
{% end %}

